/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  --primary-text-color: #2c2637;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-image: url(./images/big-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(153, 198, 253) 16%, rgb(120, 166, 224) 100%);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    z-index: 10;
    transition: all 0.3s linear;
    transform: translate(-100%);
  }
  .navigation.show-sidebar {
    transform: translate(0);
  }
  .navigation.show-sidebar .close-btn {
    display: block;
    color: rgb(240, 92, 92);
    padding: 10px;
  }
  .navigation.show-sidebar .sidebar-toggle {
    display: none;
  }
  .navigation .close-btn {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .navigation .links {
    display: initial;
    justify-content: initial;
    align-items: initial;
  }
  .navigation .links .link:first-child {
    display: none;
  }
  .navigation .links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
  }
}

.navigation-header {
  display: none;
}
@media screen and (max-width: 576px) {
  .navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .navigation-header img {
    width: 80px;
    height: 55px;
  }
  .navigation-header i {
    font-size: 24px;
  }
}
.navigation-header.main {
  padding: 0;
  padding-top: 10px;
}

.show-sidebar {
  transform: translate(0);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 10px;
}
.links .link a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  transition: all 0.3s;
}
.links .link a:hover {
  color: #fff;
}
.links .link .logo {
  width: 150px;
  height: 100px;
}
.links .link.active a {
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .links .link.active a {
    color: #d88300;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .header-content {
    margin-top: 50px;
  }
}
.header-content-title {
  height: 125px;
  width: 680px;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .header-content-title {
    height: 70px;
    width: 330px;
  }
}
.header-content-image {
  margin-bottom: 20px;
  position: relative;
}
.header-content-image .zeus {
  height: 480px;
  width: 430px;
}
@media screen and (max-width: 576px) {
  .header-content-image .zeus {
    height: 300px;
    width: 260px;
  }
}
.header-content-image .cloud {
  position: absolute;
  bottom: -70px;
  left: 0;
}
.header-content-image .cloud img {
  height: 200px;
  width: 600px;
}
@media screen and (max-width: 576px) {
  .header-content-image .cloud img {
    height: 200px;
    width: 270px;
  }
}
.header-content-image .cloud3 {
  position: absolute;
  bottom: -22px;
  right: 425px;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  .header-content-image .cloud3 {
    display: none;
  }
}
.header-content-image .cloud3 img {
  height: 320px;
  width: 600px;
}
.header-content-description {
  text-align: center;
  margin-bottom: 50px;
  z-index: 2;
  font-size: 14px;
}
.header-content-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  .header-content-links {
    flex-direction: column;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-content-links {
    flex-direction: column;
    gap: 20px;
  }
}
.header-content-links img {
  height: 60px;
  width: 260px;
}
.header-content-contract {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 240px;
  position: absolute;
  top: 135px;
  left: -125px;
  background-image: url(./images/paper-quill-corp.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-content-contract {
    position: initial;
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .header-content-contract {
    position: initial;
    margin-top: 25px;
    background-size: 80%;
    height: 250px;
    width: 210px;
    margin-left: 55px;
  }
}
.header-content-contract .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.header-content-contract .contract {
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
}
@media screen and (max-width: 576px) {
  .header-content-contract .contract {
    font-size: 11px;
    padding-left: 13px;
  }
}
.header-content-contract .address {
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .header-content-contract .address {
    font-size: 9px;
    padding-right: 46px;
  }
}
.header-content-contract .copy {
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-right: 20px;
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .header-content-contract .copy {
    margin-right: 30px;
  }
}
.header-content-contract .cloud img {
  height: 300px;
  width: 300px;
}

.what-is {
  margin-top: 260px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .what-is {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .what-is .left-img {
    order: 2;
  }
  .what-is .content {
    order: 1;
  }
  .what-is .right-img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .what-is {
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
  }
  .what-is .left-img {
    order: 2;
  }
  .what-is .content {
    order: 1;
  }
  .what-is .right-img {
    display: none;
  }
}
.what-is .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 576px) {
  .what-is .content {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .what-is .content {
    gap: 40px;
  }
}
.what-is .content .title {
  height: 95px;
  width: 460px;
}
@media screen and (max-width: 576px) {
  .what-is .content .title {
    height: 70px;
    width: 280px;
  }
}
.what-is .content p {
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .what-is .content p {
    padding: 10px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .what-is .content p {
    padding: 0 50px;
  }
}
.what-is .right-img {
  padding-top: 70px;
  padding-left: 45px;
  padding-right: 45px;
}
.what-is .right-img img {
  height: 165px;
  width: 165px;
}

.road-map {
  display: block;
  margin-top: 130px;
}
@media screen and (max-width: 576px) {
  .road-map {
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .road-map {
    margin-top: 70px;
  }
}
.road-map-img {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}
@media screen and (max-width: 576px) {
  .road-map-img {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .road-map-img {
    padding-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  .road-map-img img {
    width: 220px;
    height: 70px;
  }
}
.road-map .content {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-top: 90px;
  padding-left: 170px;
}
@media screen and (max-width: 576px) {
  .road-map .content {
    flex-direction: column;
    padding-left: 0px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .road-map .content {
    padding-left: 0px;
    margin-top: 60px;
  }
}
.road-map .content .box-phase {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 576px) {
  .road-map .content .box-phase {
    gap: 20px;
    font-weight: 400;
  }
}
.road-map .content .phase {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .road-map .content .image {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .road-map .content .image {
    display: none;
  }
}
.road-map .content .image img {
  width: 220px;
  height: 390px;
}

.list-exchanges-image {
  height: 20px;
}
.list-exchanges .content {
  padding-left: 75px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: end;
  min-height: 1020px;
}
@media screen and (max-width: 576px) {
  .list-exchanges .content {
    flex-direction: column;
    padding-left: 0;
    min-height: initial;
    gap: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .list-exchanges .content {
    flex-direction: column;
    padding-left: 0;
    gap: 0;
    min-height: initial;
  }
}
.list-exchanges .content .left {
  align-self: flex-end;
}
@media screen and (max-width: 576px) {
  .list-exchanges .content .left {
    align-self: center;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .list-exchanges .content .left {
    align-self: center;
    padding-left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .list-exchanges .content .left img {
    width: 220px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .list-exchanges .content .right {
    align-self: center;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .list-exchanges .content .right {
    align-self: center;
    padding-left: 70px;
  }
}
@media screen and (max-width: 576px) {
  .list-exchanges .content .right img {
    width: 320px;
    height: auto;
  }
}

.the-god-nft {
  margin-top: 20px;
  display: block;
}
@media screen and (max-width: 576px) {
  .the-god-nft {
    margin-top: 70px;
  }
}
.the-god-nft-image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .the-god-nft-image img {
    width: 270px;
    height: auto;
  }
}
.the-god-nft .content {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .the-god-nft .content {
    flex-direction: column;
    align-items: center;
    padding-left: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .the-god-nft .content {
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
}
@media screen and (max-width: 576px) {
  .the-god-nft .content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.the-god-nft .content img {
  width: auto;
  height: 380px;
}
@media screen and (max-width: 576px) {
  .the-god-nft .content img {
    width: 270px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .the-god-nft .content img {
    width: auto;
    height: auto;
  }
}

.list-exchanges-bottom-title {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .list-exchanges-bottom-title {
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .list-exchanges-bottom-title {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .list-exchanges-bottom-title img {
    width: 270px;
    height: auto;
  }
}
.list-exchanges-bottom-image {
  padding-left: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .list-exchanges-bottom-image {
    padding-left: 60px;
  }
}

.list-bottom-links {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 30px;
  margin-top: -60px;
  z-index: 2;
  position: relative;
  box-shadow: 4px 8px 9px 2px rgba(0, 0, 0, 0.69);
}
@media screen and (max-width: 576px) {
  .list-bottom-links {
    margin-top: -120px;
  }
}
.list-bottom-links .list-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
@media screen and (max-width: 576px) {
  .list-bottom-links .list-links {
    flex-direction: column;
  }
}
.list-bottom-links .list-links img {
  width: 90%;
}

.features {
  position: relative;
}
.features-title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .features-title img {
    height: 80px;
  }
}
.features .list-bottom-links {
  margin-top: 45px;
}
.features .list-bottom-links img {
  width: 100%;
}
.features .list-bottom-links .list-links:last-child {
  padding-bottom: 50px;
}
.features-address {
  display: flex;
  justify-content: center;
}
.features-address .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 430px;
  height: 50px;
  background-image: url("./images/feature-address-bg.png");
  z-index: 3;
  margin-top: -30px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .features-address .box {
    width: 100%;
    word-wrap: break-word;
    font-size: 12px;
  }
}
.features-links {
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .features-links {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .features-links {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.features-social {
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.features-social div {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .features-social div {
    gap: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .features-social div {
    gap: 0;
  }
}
@media screen and (max-width: 576px) {
  .features-social {
    gap: 0;
    padding-left: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .features-social {
    gap: 0;
    padding-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .features-social img {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .features-social img {
    width: 90%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  min-height: 150px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
